.default_bg{
  width: 80%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  column-gap: 30px;
  font-weight: 600;
  font-size: 1.1em;
  transition: 0.5s;
  max-width: 1000px;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.default_bg div{
  width: 100%;
  min-width: 250;
  max-width: 300;
  aspect-ratio: 1;
  transition: 0.3s;
  animation: img linear 6s infinite backwards;
}
.default_bg h3 p{
  font-weight: 600;
  font-size: 0.8em;
}
.default_bg h3{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  max-width: 400px;
  font-weight: 700;
  font-size: 1.25em;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--translucent);
}
.inboxPack{
  flex: 1;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  min-height: 350px;
  justify-content: center;
}
.inboxPack .all{
  flex: 1;
  gap: 15px;
  display: flex;
  padding: 10px;
  max-width: 425px;
  flex-direction: column;
}
.inboxPack .default_bg{
  font-size: 1em;
  align-self: center;
}
.inboxPack .all section{
  gap: 10px;
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  white-space: nowrap;
  flex-direction: column;
  color: var(--deepSweetPurple);
  border-bottom-left-radius: 5px;
  background-color: var(--notifications);
  box-shadow: 0 5px 10px rgb(0, 0, 0 ,0.15);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15), transparent);
}
.inboxPack .all section h2{
  gap: 15px;
  display: flex;
  font-size: 1.1em;
  align-items: center;
}
.inboxPack .all h2 svg{
  min-width: 50px;
  padding-right: 25px;
  border-right: solid var(--deepSweetPurple) 2px;
}
.inboxPack .all p{
  padding: 1px 20px;
  width: fit-content;
  border-radius: 15px;
}
.inboxPack .all span{
  padding: 0 15px;
  margin-left: auto;
  border-radius: 15px;
  background-color: rgba(159, 91, 38, 0.341);
}
.inboxPack .one{
  flex: 1;
  top: 10vh;
  display: flex;
  position: sticky;
  transition: 0.5s;
  font-size: 14px;
  min-width: 400px;
  max-width: 600px;
  max-height: 90vh;
  min-height: 450px;
  border-radius: 20px;
  align-items: stretch;
  flex-direction: column;
  padding-block: 5px 15px;
  border-bottom-right-radius: 5px;
  background-color: var(--sweetRed);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28), 0 10px 15px var(--mild-dark);
}
.inboxPack .bar{
  gap: 10px;
  z-index: 1;
  display: flex;
  padding: 0 5px;
  font-size: 20px;
  min-height: 40px;
  font-weight: 600;
  transition: 0.5s;
  align-items: center;
  color: var(--translucent);
  justify-content: flex-end;
  border-bottom: solid var(--translucent) 1px;
}
.inboxPack .input{
  gap: 0 10px;
  padding: 5px;
  border: none;
  flex-wrap: wrap;
  border-radius: 16px;
  margin-inline: 10px;
  align-self: flex-end;
  color: rgb( 50, 50, 50);
  width: calc(100% - 20px);
  background-color: rgba(245, 225, 215, 0.526);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28), 0 3px 15px var(--mild-dark);
}
.inboxPack .section{
  flex: 1;
  gap: 5px;
  padding: 10px;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--light-texts); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129, 91, 65); 
  }
}
.sent, .received,
.inboxPack .one .section section{
  gap: 3px;
  display: flex;
  align-items: start;
  padding-inline: 5px 0;
  flex-direction: column;
}
.sent p,
.received p,
.inboxPack .one .section section p{
  gap: 7.5px;
  height: 0px;
  opacity: 0.9;
  display: flex;
  font-size: 10px;
  transition: 0.5s;
  font-weight: 500;
  overflow: hidden;
  align-items: center;
  padding-inline: 7px;
  transition-delay: 0.2s;
}
.sent p svg,
.received p svg,
.inboxPack .one .section section p svg{
  width: 15px;
  height: 15px;
}
.sent p button,
.received p button,
.inboxPack .one .section section p button{
  min-width: 0;
  padding: 3px;
  border-radius: 7px;
  height: fit-content;
}
.details,
.inboxPack .hidden{
  gap: 5px;
  opacity: 0;
  z-index: 2;
  border: none;
  display: flex;
  font-size: 15px;
  padding: 10px 0;
  min-width: 165px;
  transition: 0.5s;
  max-width: 700px;
  max-width: 260px;
  width: fit-content;
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  top: calc(50% + 10px);
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
}
.inboxPack .hidden{
  align-items: start;
  padding-inline: 15px;
  inset-inline: auto 20px;
}
.date{
  cursor: default;
  font-weight: 500;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 7px;
  width: fit-content;
  color: var(--translucent);
  background-color: var(--primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
.sent span,
.received span,
.inboxPack .hidden span{
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}
.inView .details,
.inboxPack .hidden.inView{
  opacity: 1;
  z-index: 4;
  pointer-events: all;
  top: calc(100% + 10px);
}
.received,
.inboxPack .one .section .received{
  margin-right: 0;
  align-items: end;
  padding-inline: 0 5px;
}
.sent span,
.received span,
.inboxPack .one .section span{
  cursor: default;
  min-width: 100px;
  padding: 7.5px 10px;
  border-radius: 20px;
  word-break: break-word;
  background-color: var(--notifications);
  box-shadow: 0 1px 7px rgba(8, 5, 5, 0.3), 0 0 3px rgba(160, 31, 31, 0.2);
}
.received span,
.inboxPack .one .section .received span{
  background-color: var(--natural);
}
.sent .last span,
.inboxPack .one .section .last span{
  border-bottom-left-radius: 0;
}
.received .last span,
.inboxPack .one .section .received .last span{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
}
.sent div,
.received div,
.inboxPack .one .section section div{
  display: flex;
  margin-left: 7px;
  max-width: calc(75% + 30px);
}
.last,
.inboxPack .one .section section div.last{
  margin-left: 0;
}
.sent p:hover,
.received p:hover,
.sent div:hover + p,
.received div:hover + p,
.inboxPack .one .section section p:hover,
.inboxPack .one .section section div:hover + p{
  height: 20px;
}
.last + p,
.inboxPack .one .section section .last + p{
  height: 20px;
}
.received div,
.inboxPack .one .section .received div{
  display: flex;
  flex-direction: row-reverse;
}
.last::before,
.inboxPack .one .section section div.last::before{
  z-index: 1;
  width: 7px;
  content: '';
  height: 20px;
  min-width: 7px;
  transition: 0.5s;
  align-self: flex-end;
  display: inline-block;
  background-color: var(--notifications);
  box-shadow: -6px 1px 8px rgba(0, 0, 0, 0.3);
}
.last::after,
.inboxPack .one .section section div.last::after{
  bottom: 0;
  left: -3px;
  z-index: 1;
  content: '';
  width: 10px;
  height: 25px;
  transition: 0.5s;
  position: absolute;
  align-self: flex-end;
  display: inline-block;
  border-bottom-right-radius: 100%;
  background-color: var(--sweetRed);
  box-shadow: -5px -2px 6px 3px  var(--sweetRed), inset -2px -2px 3px rgba(0, 0, 0, 0.15);
}
.received .last::before,
.inboxPack .one .section .received div.last::before{
  background-color: var(--natural);
  box-shadow: 7px 2px 6px 3px var(--sweetRed), inset -2px 2px 3px rgba(0, 0, 0, .15), 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.last::after{
  box-shadow: -5px 2px 6px 3px  var(--pageNav), inset -2px 2px 3px rgba(0, 0, 0, 0.15);
}
.received .last::after,
.inboxPack .one .section .received div.last::after{
  left: auto;
  right: -3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 100%;
  box-shadow: 5px -2px 6px 3px  var(--sweetRed), inset 2px -2px 3px rgba(0, 0, 0, 0.15);
}
.received .last::after{
  background-color: var(--pageNav);
  box-shadow: 5px -2px 6px 3px  var(--pageNav), inset 2px -2px 3px rgba(0, 0, 0, 0.15);
}
.sent .last::after{
  background-color: var(--pageNav);
  box-shadow: inset -4px -1 2px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1));
}
.sent .last::before{
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
.inboxPack textarea{
  width: 100%;
  min-height: 32px;
  border-radius: 10px 0 0 10px;
}
.inboxPack .one a,
.inboxPack .one button{
  height: 32px;
  display: flex;
  min-width: 40px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.inboxPack .one a:hover,
.inboxPack .one button:hover{
  background-color: var(--mild-dark);
}
@media screen and (max-width: 500px) {
  .inboxPack .one{
    min-width: 250px;
  }
}