.background{
  top: -25vh;
  z-index: -1;
  width: 70vw;
  right: -30vw;
  height: 100vh;
  rotate: -220deg;
  position: fixed;
  max-width: 150vh;
  max-height: 100vw;
  background-size: 200%;
  background-position: right;
  animation: backg_1 linear 10s backwards infinite alternate-reverse;
  background-image: linear-gradient(to right, rgb(187, 106, 94), rgb(243, 179, 159), rgb(239, 226, 143), rgb(255, 252, 222));
}
@keyframes backg_1 {
  0%{opacity: 0.7; background-position: right; border-radius: 20% 10% 28% 10%/20% 30% 15% 10%; box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.38), inset 0px 5px 8px rgba(0, 0, 0, 0.15)}
  50%{border-radius: 20% 20% 50% 10%/20% 30% 25% 10%; box-shadow: none;}
  100%{opacity: 0.5; background-position: left; border-radius: 20% 30% 28% 10%/20% 30% 50% 10%; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.38), 0px 5px 8px rgba(0, 0, 0, 0.15);}
}
.h3{
  gap: 30px;
  width: 90%;
  display: flex;
  transition: 0.5s;
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 30px;
  flex-direction: column;
  color: var(--translucent);
}
.h3 p:first-child{
  height: 17px;
  align-self: center;
  width: fit-content;
  border-bottom: solid;
  padding-inline: 70px;
}
.h3 p:last-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.h3 span{
  transition: 0.5s;
  padding-inline: 10px;
  background-color: var(--background);
}
.formHolder{
  width: 90%;
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
  padding-block: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.formHolder span{
  gap: 0 10px;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  color: var(--translucent);
}
.formHolder h2{
  width: 100%;
  transition: 0.5s;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
  color: var(--translucent);
}
.img{
  flex: 2;
  min-width: 250;
  max-width: 400;
  aspect-ratio: 1;
  transition: 0.3s;
  animation: img linear 6s infinite backwards;
}
@keyframes img {
  0%{top: 0}
  25%{top: 10px;}
  75%{top: -10px}
  100%{top: 0}
}
.form{
  flex: 3;
  width: 100%;
  display: flex;
  row-gap: 20px;
  padding: 10px;
  min-width: 275px;
  max-width: 650px;
  flex-direction: column;
}
.form input,
.form textArea{
  transition: 0.1s;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 25px;
  color: var(--translucent);
  border-bottom-left-radius: 5px;
  border: solid var(--deepSweetPurple) 2px;
  background-color: rgba(255, 252, 222, 0.075);
}
.form textarea{
  min-height: 200px;
  max-height: 500px;
}
.form input:focus,
.form textArea:focus{
  color: rgb( 50, 50, 50);
  background-color: rgb(236, 242, 245);
}
.form #contact{
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  position: absolute;
  border-radius: 15px;
  flex-direction: column-reverse;
  background-color: var(--brilliant);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
.form #contact span{
  gap: 15px;
  display: flex;
  cursor: pointer;
  min-height: 35px;
  padding: 7px 14px;
  align-items: center;
  border-radius: inherit;
}
.form #contact div{
  gap: 5px;
  opacity: 0;
  height: 0px;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  border-radius: inherit;
  flex-direction: column;
}
.form #contact div span{
  box-shadow: none !important;
}
.form #contact.inView{
  padding: 7px;
}
.form #contact.inView div{
  opacity: 1;
  pointer-events: all;
}
.form #contact.inView span{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
.form button{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  font-size: 1.1em;
  padding: 5px 15px;
  padding-right: 5px;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  color: var(--translucent);
  background-color: var(--brilliant);
}
.form button svg{
  width: 0;
  opacity: 0;
  right: 10px;
  height: 20px;
  transition: 0.3s;
}
.form button:hover{
  padding-right: 10px;
}
.form button:hover svg{
  right: 0;
  opacity: 1;
  width: 20px;
}
.error{
  width: 90%;
  font-weight: 600;
  align-self: center;
  color: var(--error);
}
.mask{
  inset: 0;
  z-index: 2;
  position: fixed;
  background-color: rgb(0, 0, 0 ,0.15);
}
.pass{
  gap: 10px;
  display: flex;
  padding: 20px;
  font-size: 15px;
  transition: 0.5s;
  min-height: 150px;
  border-radius: 25px;
  flex-direction: column;
  color: var(--translucent);
  background-color: var(--noti);
  justify-content: space-between;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.282)
}
.pass span svg{
  width: 20px;
  height: 20px;
}
.pass p{
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}
.pass div{
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}
.pass .button{
  gap: 10px;
  display: flex;
  font-weight: 600;
  transition: 0.5s;
  padding: 5px 10px;
  border-radius: 25px;
  border-bottom-left-radius: 5px;
  background-color: var(--brilliant);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.282)
}
.pass section{
  gap: 10px;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
}
.all{
  gap: 10px;
  width: 60%;
  z-index: 2;
  right: 30px;
  bottom: 100px;
  padding: 20px;
  display: flex;
  font-size: 15px;
  position: fixed;
  transition: 0.5s;
  min-width: 330px;
  max-height: 60vh;
  max-width: 525px;
  min-height: 250px;
  border-radius: 25px;
  flex-direction: column;
  color: rgb( 50, 50, 50);
  border-bottom-left-radius: 5px;
  background-color: var(--pageNav);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.282)
}
.input{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 20px;
  justify-content: flex-end;
  width: calc( 100% - 20px );
  border-bottom-right-radius: 5px;
  border: solid var(--sweetPurple) 2px;
}
.input:hover,
.input:focus{
  scale: 1.03;
}
.input p{
  top: -10px;
  right: 20px;
  font-weight: 600;
  transition: 0.5s;
  position: absolute;
  padding-inline: 15px;
  pointer-events: none;
  background-color: var(--pageNav);
}
.input input,
.input textarea{
  flex: 1;
  width: 100%;
  padding-left: 25px;
  padding: 5px 15px !important;
}
.input span{
  right: -30px;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  bottom: calc( 50% - 11px);
}
.input span:hover {
  background-color: var(--mild-dark);
}
.password{
  width: 95%;
  padding: 3px;
  margin: auto;
  column-gap: 2px;
  font-weight: 600;
  max-width: 700px;
  border-radius: 30px;
  align-self: flex-end;
  border-bottom-right-radius: 7px;
  border: solid var(--sweetPurple) 2px;
  box-shadow: 0 3px 10px rgb(0, 0, 0 ,0.15);
}
.password input{
  flex: 1;
  width: 100%;
  padding: 5px 15px;
  border-radius: inherit;
}
.updator .input:hover{
  box-shadow: inset 0 3px 5px rgb(0, 0, 0 ,0.1);
}
.all .input textarea{
  min-height: 40px;
}
.all section{
  gap: 15px;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  flex-direction: column;
  border-top: solid var(--sweetPurple) 2px;
}
.all section .input{
  align-self: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 17px;
  box-shadow: 0 3px 10px rgb(0, 0, 0 ,0.15);
}
.all .cancel{
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  display: grid;
  position: absolute;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: var(--mild-dark);
}
.all .cancel svg{
  padding: 6px;
}
.all .button{
  transition: 0.3s;
  padding: 5px 25px;
  border-radius: 25px;
  align-self: flex-end;
  color: rgb(255, 245, 213);
  border-bottom-left-radius: 8px;
  background-color: var(--compliment);
}
.all .button svg{
  top: 5px;
  width: 15px;
  right: 30px;
  transition: 0.75s;
  position: absolute;
}
.all .button svg path{
  opacity: 0;
  fill: white;
  transition: 0.15s;
}
.all .button:hover{
  padding-right: 40px;
  color: rgb(255, 255, 255);
}
.all .button:hover svg{
  transform: translateX(20px);
}
.all .button:hover svg path{
  opacity: 1;
}

/* not-found-page css */
.notFound a,
.notFound button{
  gap: 10px;
  display: flex;
  align-items: center;
}