.title{
  gap: 15px;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
  transition: 0.3s;
  align-items: center;
  height: fit-content;
  padding: 20px 20px 0;
  color: var(--success);
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.title svg{
  width: 30px;
  height: 30px;
}
.background{
  top: -15%;
  width: 70vw;
  z-index: -1;
  left: -30vw;
  opacity: 0.9;
  rotate: -10deg;
  position: fixed;
  background-size: 200%;
  height: calc(100vh + 70px);
  background-position: right;
  transform: skew(10deg , -25deg);
  border-radius: 0 0% 28% 10%/0 30% 50% 10%;
  animation: backg_1 linear 10s backwards infinite alternate-reverse;
  background-image: linear-gradient(to right, rgb(187, 106, 94), rgb(243, 179, 159), rgb(239, 226, 143), rgb(255, 252, 222));
}
@keyframes backg_1 {
  0%{opacity: 0.7; background-position: right; border-radius: 20% 10% 28% 10%/20% 30% 15% 10%; box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.38), inset 0px 5px 8px rgba(0, 0, 0, 0.15)}
  50%{border-radius: 20% 20% 50% 10%/20% 30% 25% 10%; box-shadow: none;}
  100%{opacity: 0.5; background-position: left; border-radius: 20% 30% 28% 10%/20% 30% 50% 10%; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.38), 0px 5px 8px rgba(0, 0, 0, 0.15);}
}
.features{
  gap: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  align-items: center;
  padding-inline: 25px;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.features section{
  flex: 1;
  gap: 50px;
  display: flex;
  min-width: 375px;
  justify-content: space-evenly;
}
.features section div{
  flex: 0.9;
  gap: 20px;
  width: 90%;
  padding: 15px;
  display: flex;
  transition: 0.5s;
  max-width: 475px;
  font-weight: 600;
  min-height: 300px;
  border: solid 3px;
  border-radius: 20px;
  flex-direction: column;
  border-color: transparent;
}
.features .inView div{
  border-color: var(--changingPurple) !important;
}
.features section div p{
  top: -10px;
  right: -10px;
  transition: 0.5s;
  font-size: 1.1em;
  position: absolute;
  padding-inline: 15px;
  pointer-events: none;
  padding-block: 5px 20px;
  background-color: var(--background);
  box-shadow: -4px 12px 12px var(--background);
}
.features section div a{
  display: flex;
  bottom: -15px;
  transition: 0.5s;
  padding: 5px 15px;
  position: absolute;
  align-items: center;
  border-radius: 15px;
  border-top-left-radius: 5px;
  background-color: var(--primary);
}
.features section div a:hover{
  bottom: -10px;
  padding-right: 35px;
}
.features section a svg,
.features .inView a svg{
  opacity: 0;
  right: 12px;
  width: 16px;
  height: 16px;
  transition: 0.5s;
  position: absolute;
}
.features .svg{
  opacity: 0;
  min-width: 28px;
  min-height: 28px;
}
.features .inView svg,
.features .inView a:hover svg{
  opacity: 1;
}
.features .svg{
  inset: auto;
  z-index: -1;
  min-width: 60px;
  min-height: 30px;
  padding: 5px 15px;
  position: absolute;
  border-radius: 15px;
  color: var(--black);
  background-color: var(--pageNav);
  transition:  all 0.5s, inset 1.5s;
  animation: svg 5s infinite forwards;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.28), 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.2), transparent);
}
.features .svg.left{
  top: 15%;
  left: 15%;
  border-bottom-left-radius: 5px;
}
.features .svg.right{
  top: 70%;
  left: 70%;
  border-bottom-right-radius: 5px;
}
.features .r,
.features .l{
  opacity: 0;
  height: 75px;
  display: flex;
  font-weight: 600;
  min-width: 150px;
  transition: 1.5s;
  font-size: 12.5px;
  position: absolute;
  border-radius: 15px;
  color: var(--strong);
  word-wrap: break-word;
  flex-direction: column;
  border: solid var(--sweetPurple) 1px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.28), 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.1), transparent);
}
.features .l{
  top: 50px;
  width: 50%;
  background-color: var(--noti);
}
.features .r{
  width: 60%;
  right: -15px;
  bottom: 50px;
  background-color: var(--input);
}
.features .inView .l{
  top: 35px;
  left: -10%;
  width: 70%;
  opacity: 0.8;
  border-radius: 25px;
  border-bottom-left-radius: 5px;
}
.features .inView .r{
  width: 80%;
  right: -30px;
  bottom: 20px;
  opacity: 0.8;
  border-radius: 25px;
  border-top-left-radius: 5px;
}
@keyframes svg {
  0% { opacity: 0;}
  10% { opacity: 1;}
  60% { opacity: 1;}
  75% { opacity: 0;}
  100% { opacity: 0;}
}
.form{
  gap: 30px;
  width: 100%;
  padding: 30px;
  display: flex;
  max-width: 600px;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;
  flex-direction: column;
}
.form h2{
  font-weight: 700;
  font-size: 1.6em;
  transition: 0.5s;
  color: var(--translucent);
}
.form p{
  width: 100%;
  font-weight: 600;
  transition: 0.5s;
  align-self: center;
  padding-left: 10px;
  color: var(--changingPurple)
}
.text{
  width: 100%;
  font-weight: 500;
  transition: 0.5s;
  text-align: center;
  color: var(--changingPurple)
}
.form a,
.form button{
  flex: 1;
  gap: 7px;
  display: flex;
  cursor: pointer;
  min-height: 43px;
  transition: 0.5s;
  min-width: 180px;
  padding: 7px 15px;
  width: fit-content;
  border-radius: 20px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  background-color: var(--sweetRed);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.23), 0px 5px 8px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.1), transparent);
}
.form a:hover,
.form button:hover{
  background-color: var(--pageNav);
}
.form .holders{
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.form div p{
  flex: 1;
}
.input{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  align-items: center;
  color: var(--black);
  width: 100% !important;
}
.input input,
.input textarea{
  width: 100%;
  font-weight: 600;
  min-height: 45px;
  border-radius: 25px;
  padding: 10px 25px !important;
  padding-right: 35px !important;
  border-bottom-right-radius: 7px;
  border: solid var(--sweetPurple) 2px;
  background-color: rgba(247, 246, 219, 0.9);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.23), 0px 5px 8px rgba(0, 0, 0, 0.15);
}
.form div span{
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s all, 0s color;
}
.form .input span{
  width: fit-content;
}
.form menu{
  height: 40px;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 15px;
  color: var(--strong);
  border-top-left-radius: 5px;
  background-color: var(--noti);
  border-bottom-left-radius: 5px;
  flex-direction: column-reverse;
  border: solid var(--brilliant) 1px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.23), 0px 5px 8px rgba(0, 0, 0, 0.15);
}
.form menu span{
  gap: 15px;
  display: flex;
  min-height: 35px;
  padding: 7px 14px;
  align-items: center;
  border-radius: inherit;
}
.form menu div{
  gap: 5px;
  top: 60px;
  opacity: 0;
  z-index: 1;
  height: 160px;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  padding-block: 5px;
  position: absolute;
  box-shadow: inherit;
  pointer-events: none;
  border-radius: inherit;
  flex-direction: column;
  background-color: inherit;
}
.form menu.inView div{
  top: 40px;
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 600px) {
  .form div,
  .form section{
    width: 95%;
  }
  .features{
    padding-inline: 5px;
  }
  .features section{
    min-width: 250px;
  }
}
@media screen and (max-width: 350px) {
  .features section div p{
    top: -25px;
    right: -18px;
    max-width: 120px;
    padding-inline: 7px 0;
  }
  .form{
    padding: 15px;
  }
}
@media screen and (max-width: 320px) {
  .form h2{
    font-size: 1.4em;
  }
}
@media screen and (max-width: 300px) {
  .form div,
  .form section{
    width: 100%;
  }
  .form,
  .features{
    padding: 0;
  }
}