@import "tailwindcss";

body{
  --black: rgb(0, 0, 0);
  --soft: rgb(138, 94, 31);
  --error: rgb(252, 82, 82);
  --strong: rgb(87, 49, 24);
  --noti: rgb(250, 234, 204);
  --input: rgb(247, 246, 219);
  --success: rgb(149, 206, 52);
  --natural: rgb(215, 186, 150);
  --primary: rgb(233, 238, 168);
  --pageNav: rgb(255, 240, 226);
  --translucent: rgb(50, 50, 50);
  --sweetRed: rgb(250, 234, 204);
  --light-texts: rgb(100, 89, 75);
  --compliment: rgb(127, 118, 37);
  --brilliant: rgb(238, 207, 147);
  --loadingBar: rgb(34, 153, 221);
  --mild-dark: rgba(0, 0, 0, 0.25);
  --background: rgb(255, 255, 218);
  --sweetPurple: rgb(219, 180, 220);
  --notifications: rgb(255, 240, 226);
  --changingPurple: rgb(151, 89, 152);
  --deepSweetPurple: rgb(151, 89, 152);
}
body.dark{
  --error: rgb(222, 72, 72);
  --soft: rgb(194, 141, 51);
  --noti: rgb(211, 170, 148);
  --strong: rgb(87, 49, 24);
  --black: rgb(123, 108, 44);
  --natural: rgb(81, 67, 63);
  --input: rgb(195, 190, 142);
  --sweetRed: rgb(155 129 112);
  --primary: rgb(202, 185, 110);
  --pageNav: rgb(217, 201, 175);
  --background: rgb(50, 50, 50);
  --brilliant: rgb(164, 134, 74);
  --compliment: rgb(125, 97, 32);
  --loadingBar: rgb(242, 255, 124);
  --sweetPurple: rgb(151, 89, 152);
  --translucent: rgb(247, 239, 189);
  --notifications: rgb(201, 173, 147);
  --changingPurple: rgb(219, 180, 220);
  color: rgb(246, 240, 209);
}
.root{
  flex: 1;
  gap: 15px;
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: row;
}
main{
  flex: 5;
  width: 100%;
  flex-direction: column;
  padding-block: 60px 20px;
}
body{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  min-width: 285px;
  transition: 0.5s;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background);
}
body::selection{
  color: rgb(41, 34, 34);
  background-color: rgb(231, 216, 164, 0.7);
}
body.dark::selection{
  color: rgb(62, 50, 50);
  background-color: rgba(201, 191, 156, 0.7);
}
*{
  position: relative;
}
.big{padding: 3px}
.BIG{padding: 1.5px;}
.isBig{padding: 1px;}
::placeholder{
  opacity: 0.6;
  color: inherit;
}
a{
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}
svg{
  width: 23px;
  height: 23px;
  min-width: 23px;
  aspect-ratio: 1;
  min-height: 23px;
  fill: currentColor;
  pointer-events: none;
  display: inline-block;
  transition: 0.3s width, 0.3s height;
}
menu, span{
  transition: 0.5s;
}
.hover{
  transition: 1s;
  pointer-events: all;
}
img{
  pointer-events: none;
}
button{
  padding: 0 5px;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  font-size: inherit;
  height: fit-content;
}
button:disabled{
  filter: grayscale(0.2);
  opacity: 0.9 !important;
  cursor: default !important;
  pointer-events: none !important;
}
input,
textArea{
  min-width: 0;
  outline: none;
  border-radius: inherit;
}
input:autofill,
textarea:autofill{
  background-color: inherit;
}
textarea{
  &::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--sweetPurple); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--deepSweetPurple); 
  }
}
textarea:hover{
  &::-webkit-scrollbar {
    opacity: 1
  }
}
input:-internal-autofill-selected{
  color: initial !important;
  appearance: none !important;
  background-color: transparent !important;
}
.loading-circle{
  animation: loader-circle 0.8s linear infinite forwards;
}
.notify{
  z-index: 1;
  border: solid 2px;
}
@keyframes notify {
  0%{
    opacity: 0;
    translate: 25%;
  } 10%{
    opacity: 0.9;
    translate: 0;
  } 90%{
    opacity: 0.9;
    translate: 0;
  } 100%{
    opacity: 0;
    translate: 25%;
  }
}
#nprogress .bar {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  height: 5px;
  z-index: 1031;
  position: fixed;
  background: var(--loadingBar);
}
/* Fancy blur effect */
#nprogress .peg {
  opacity: 1;
  right: 0px;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  box-shadow: 0 0 10px var(--loadingBar), 0 0 5px var(--loadingBar);

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

@keyframes loader-circle {
  0%{rotate: 0deg}
  100%{rotate: 360deg}
}
header{
  z-index: 5;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  transition: 0.5s;
  inset-inline: auto;
  justify-content: center;
  background-color: var(--background);
  box-shadow: 0 8px 12px var(--background);
}
.header{
  gap: 10px;
  width: 95%;
  display: flex;
  transition: 0.5s;
  max-width: 1200px;
  padding-top: 20px;
  align-items: center;
  padding-inline: 15px;
  justify-content: space-between;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
.header h1,
.footer h1{
  font-weight: 600;
  font-size: 1.5em;
  white-space: nowrap;
}
.header a,
.footer a{
  display: flex;
  padding: 0 10px;
  column-gap: 15px;
  white-space: nowrap;
  align-items: center;
  color: var(--translucent);
}
.header svg{
  display: none;
}
.header button{
  padding: 4px 12px;
  border-radius: 14px;
}
.header a:hover{
  color: var(--black);
}
.footer a:hover{
  color: var(--compliment);
}
.footer{
  gap: 15px;
  width: 100%;
  display: flex;
  row-gap: 10px;
  min-height: 60px;
  font-weight: 600;
  transition: 0.5s;
  margin-top: auto;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-inline: 10px;
  padding-block: 30px 0;
  justify-content: space-between;
}
.footer a{
  white-space: nowrap;
}
.footer .l{
  font-size: 16px;
  border-right: solid var(--sweetPurple) 2px;
}
.footer div{
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--translucent);
  flex-direction: row-reverse;
}
.footer span{
  padding-left: 10px;
}
.header div button:first-child{
  display: none;
}
.link_pack.inView + div button:first-child{
  background-color: rgba(0, 0, 0, 0.15);
}
.header button:hover{
  background-color: var(--mild-dark);
}
.short_logo{
  font-size: 1em;
  font-style: normal;
  color: transparent;
  background-clip: text;
  background-position: cover;
  background-image: linear-gradient(to right,rgb(230, 199, 113), rgb(216, 174, 56), var(--strong));
}
.link_pack{
  flex: 0.4;
  gap: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user_pack{
  gap: 3px;
  top: 133%;
  opacity: 0;
  z-index: 2;
  right: 50px;
  display: flex;
  min-width: 180px;
  transition: 0.5s;
  padding: 13px 5px;
  position: absolute;
  border-radius: 15px;
  pointer-events: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28), 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.user_pack a{
  width: 100%;
  min-height: 28px
}
.user_pack .button{
  width: 100%;
  display: flex;
  padding: 0 10px;
  column-gap: 15px;
  min-height: 28px;
  align-items: center;
  color: var(--translucent);
}
.user_pack button:hover{
  color: var(--black);
  background-color: inherit;
}
.user_pack p{
  margin: 0 6px;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  color: var(--compliment);
  width: calc( 100% - 12px);
  border-bottom: solid var(--compliment) 2px;
}
.luser_pack svg{
  width: 20px;
  height: 20px;
}
.user_pack.inView{
  top: 90%;
  opacity: 1;
  pointer-events: all;
}
#theme{
  gap: 15px;
  display: flex;
  padding: 1px 3px;
  transition: 0.5s;
  width: fit-content;
  border-radius: 25px;
  border: solid var(--compliment) 2px;
  background-color: rgba(205, 205, 160, 0.5);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}
#theme button{
  z-index: 2;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  display: flex;
  padding: 3px 0px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  color: var(--translucent);
  background-color: transparent;
}
#theme button svg{
  display: initial !important;
}
#theme button:first-child{
  opacity: 1;
  color: var(--pageNav);
}
.dark #theme button:first-child{
  opacity: 0.5;
  color: rgb(50, 50, 50);
}
.dark #theme button{
  opacity: 1;
}
#theme .identifier{
  inset: 0;
  opacity: 1;
  z-index: 1;
  width: 31.5px;
  height: 30px;
  transition: 0.5s;
  align-self: center;
  position: absolute;
  background-color: rgb(58, 151, 58);
  background-image: linear-gradient(to right, var(--mild-dark), transparent);
}
nav{
  flex: 0;
  display: flex;
  min-width: 65px;
  transition: 0.5s;
  align-items: center;
  justify-content: right;
  background-color: var(--background);
}
nav .mask{
  inset: 0;
  z-index: 2;
  opacity: 0;
  position: fixed;
  cursor: pointer;
  transition: 0.5s;
  pointer-events: none;
  background-color: var(--mild-dark);
}
nav .links{
  left: 0;
  gap: 10px;
  bottom: 0;
  top: 60px;
  z-index: 2;
  width: 65px;
  display: flex;
  position: fixed;
  padding-top: 10px;
  padding-right: 5px;
  align-items: center;
  flex-direction: column;
  color: var(--translucent);
  transition: 0.5s background-color, 0.5s box-shadow;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.38), 0px 15px 15px var(--background);
}
nav.inView .links{
  background-color: var(--background);
}
nav .links a{
  width: 100%;
  display: flex;
  padding: 12px;
  padding-left: 22px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
nav .links a:hover{
  color: var(--primary);
  background-color: var(--mild-dark);
}
nav .links svg{
  flex: 1;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}
nav .pagenav{
  flex: 1;
  top: 60px;
  bottom: 0;
  display: flex;
  position: sticky;
  overflow: hidden;
  margin-left: 65px;
  align-self: flex-start;
  height: calc(100vh - 60px);
  transition: 1s all, 0.5s color;
  max-height: calc(100vh - 60px);
  background-color: var(--pageNav);
  border-bottom-right-radius: 15px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.28), 0 0 15px var(--background);
  background-image: linear-gradient(to right, #0000001f, transparent);
}
nav .pagenav .holdr{
  gap: 10px;
  translate: 0;
  display: grid;
  min-width: 300%;
  transition: 0.5s;
  padding-inline: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
nav.inb .holdr{
  translate: -33.3%;
}
nav.msg .holdr{
  translate: -67%;
}
nav .pagenav .hidden{
  gap: 10px;
  opacity: 0;
  z-index: 2;
  border: none;
  display: flex;
  padding: 10px 0;
  font-size: 14px;
  min-width: 165px;
  transition: 0.5s;
  max-width: 700px;
  width: fit-content;
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  top: calc(50% + 10px);
  flex-direction: column;
  inset-inline: auto 20px;
  background-color: var(--primary);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
nav .pagenav .hidden.inView{
  opacity: 1;
  z-index: 4;
  pointer-events: all;
  top: calc(100% + 10px);
}
nav .pagenav .inbox{
  opacity: 0;
  display: grid;
  transition: 1s;
  padding-block: 5px 15px;
  max-height: calc(100vh - 60px);
}
nav.inb .pagenav .inbox{
  opacity: 1;
}
nav .pagenav .nav{
  gap: 10px;
  display: flex;
  transition: 1s;
  overflow-y: auto;
  flex-direction: column;
  padding-block: 5px 15px;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    margin-block: 50px 10px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--light-texts); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(81, 61, 49); 
  }
}
nav .pagenav .contact{
  gap: 10px;
  display: flex;
  transition: 1s;
  flex-direction: column;
  padding-block: 5px 15px;
}
nav .pagenav .bar{
  gap: 10px;
  z-index: 2;
  height: 40px;
  display: flex;
  padding: 0 5px;
  font-size: 20px;
  min-height: 40px;
  font-weight: 600;
  align-items: center;
  color: var(--strong);
  justify-content: flex-end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28), 0 3px 15px var(--mild-dark);
}
nav .pagenav .inbox .input{
  gap: 0 10px;
  padding: 5px;
  flex-wrap: wrap;
  min-height: 70px;
  height: fit-content;
  border-radius: 16px;
  align-self: flex-end;
  width: calc(100% - 10px);
  background-color: rgba(245, 225, 215, 0.526);
}
nav .pagenav .inbox .section{
  gap: 3px;
  height: 100%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  padding-block: 20px;
  scrollbar-width: 7px;
  flex-direction: column;
  scrollbar-color: rgba(0, 0, 0, 0.15);
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--light-texts); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129, 91, 65); 
  }
}
nav .input button{
  max-height: 29px;
}
nav .pagenav .inbox textarea{
  width: 100%;
  min-height: 32px;
  border-radius: 10px 0 0 10px;
}
nav .pagenav .bar a,
nav .pagenav button{
  gap: 10px;
  height: 32px;
  display: flex;
  min-width: 40px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
nav .pagenav .bar a:hover,
nav .pagenav button:hover{
  background-color: var(--mild-dark);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15), transparent );
}
nav .pagenav .nav a{
  gap: 10px;
  display: flex;
  transition: 0s;
  padding: 5px 20px;
  border-radius: 5px 15px;
}
nav .pagenav .nav a:last-child{
  margin-top: auto;
  justify-content: center;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15), transparent );
}
nav .pagenav .nav a:hover{
  background-color: var(--mild-dark);
}
nav.inView{
  flex: 2.5;
  min-width: 400px;
}
nav .contact .holder{
  flex: 1;
  gap: 20px;
  display: grid;
  padding: 20px;
  grid-template-rows: 40px 40px 1fr 40px;
}
nav .contact input,
nav .contact textArea{
  resize: none;
  transition: 0.1s;
  font-weight: 600;
  max-height: 350px;
  padding: 10px 15px;
  border-radius: 27px;
  color: var(--translucent);
  border-bottom-left-radius: 5px;
  border: solid var(--deepSweetPurple) 2px;
  background-color: rgba(255, 252, 222, 0.075);
}
nav .contact input:focus,
nav .contact textArea:focus{
  color: rgb( 50, 50, 50);
  background-color: rgb(236, 242, 245);
}
nav .contact #contact{
  bottom: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  position: absolute;
  border-radius: 15px;
  color: var(--translucent);
  flex-direction: column-reverse;
  background-color: var(--brilliant);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
nav .contact #contact span{
  gap: 15px;
  display: flex;
  cursor: pointer;
  min-height: 35px;
  padding: 7px 14px;
  align-items: center;
  border-radius: inherit;
}
nav .contact #contact div{
  gap: 5px;
  opacity: 0;
  height: 0px;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  border-radius: inherit;
  flex-direction: column;
}
nav .contact #contact div span{
  box-shadow: none !important;
}
nav .contact #contact.inView{
  padding: 7px;
}
nav .contact #contact.inView div{
  opacity: 1;
  pointer-events: all;
}
nav .contact #contact.inView span{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
nav .contact .button{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  font-size: 1.1em;
  padding: 5px 15px;
  padding-right: 5px;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  color: var(--translucent);
  background-color: var(--brilliant) !important;
}
nav .contact .button svg{
  width: 0;
  opacity: 0;
  right: 10px;
  height: 20px;
  transition: 0.3s;
}
nav .contact .button:hover{
  padding-right: 10px;
}
nav .contact .button:hover svg{
  right: 0;
  opacity: 1;
  width: 20px;
}

@media screen and (max-width: 875px) {
  nav .pagenav{
    left: 0;
    width: 0;
    top: 60px;
    bottom: 0;
    z-index: 2;
    position: fixed;
    transition: 0.5s;
    height: calc(100% - 60px);
  }
  nav.inView .pagenav{
    width: 60vw;
  }
  nav.inView{
    flex: 0;
    min-width: 60px;
  }
  nav.inView .mask{
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (max-width: 650px) {
  .header{
    column-gap: 30px;
  }
  .header svg{
    display: initial;
  }
  .link_pack{
    top: 133%;
    opacity: 0;
    z-index: 2;
    right: 100px;
    width: 180px;
    transition: 0.5s;
    padding: 13px 5px;
    position: absolute;
    border-radius: 15px;
    pointer-events: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28), 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  .link_pack a{
    width: 100%;
    min-height: 28px
  }
  .link_pack svg{
    width: 20px;
    height: 20px;
  }
  .link_pack.inView{
    top: 90%;
    opacity: 1;
    pointer-events: all;
  }
  .header div button:first-child{
    display: initial;
  }
  .footer .l{
    width: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
  }
}
@media screen and (max-width: 500px) {
  .root{
    column-gap: 0;
    padding-bottom: 60px;
  }
  nav{
    min-width: 0!important;
  }
  nav .links{
    gap: 0;
    top: auto;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    overflow: auto;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.38), 0px -3px 5px var(--background);
    &::-webkit-scrollbar{
      height: 7px;
    }
  }
  nav .links a{
    height: 100%;
    padding: 5px 12.5px;
    padding-bottom: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
  }
  nav .mask{
    z-index: 3;
  }
  nav .pagenav{
    z-index: 3;
    margin-left: 0;
  }
  nav.inView .pagenav{
    width: 75vw;
  }
  nav .contact .holder{
    padding: 10px;
  }
  svg, nav .links svg{
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
  }
  .footer h1{
    font-size: 1.3em;
  }
  .footer span{
    width: 100%;
    border: none;
  }
}
@media screen and (max-width: 375px) {
  nav.inView .pagenav{
    width: 85%;
  }
  nav .pagenav .bar{
    font-size: 17px;
  }
  svg, nav .links svg{
    width: 21px;
    height: 21px;
    min-width: 21px;
    min-height: 21px;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer span{
    text-align: start;
    padding-left: 10px;
  }
  .footer div{
    justify-content: flex-start;
  }
}
@media screen and (max-width: 320px) {
  nav .pagenav .bar{
    font-size: 15px;
  }
  nav .pagenav div a,
  nav .pagenav button{
    min-width: 30px;
  }
  nav .contact .holder{
    padding-inline: 5px;
  }
  nav .contact .holder .flex.gap-x-2\.5.items-center{
    gap: 5px;
  }
  nav .contact #contact span{
    padding: 5px;
  }
}