#main{
  display: flex;
  transition: 0.5s;
  margin-inline: auto;
  max-width: calc( 100% - 80px );
}
.main{
  gap: 20px;
  width: 100%;
  display: flex;
  transition: 0.5s;
  max-width: 1250px;
  justify-self: center;
  padding-inline: 10px;
  flex-direction: column;
}
.img{
  flex: 2;
  min-width: 250;
  max-width: 400;
  aspect-ratio: 1;
  transition: 0.3s;
  animation: img linear 6s infinite backwards;
}
.floater{
  right: 30px;
  z-index: 1;
  bottom: 100px;
  position: fixed;
  padding: 8px 20px;
  border-radius: 12px;
  color: var(--changingPurple);
  background-color: var(--sweetRed);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.28), 0px 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
}
.default_bg{
  width: 80%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  column-gap: 30px;
  font-weight: 600;
  font-size: 1.1em;
  transition: 0.5s;
  max-width: 1000px;
  flex-direction: row;
  align-items: center;
  place-content: center;
}
.default_bg div{
  width: 100%;
  min-width: 250;
  max-width: 300;
  aspect-ratio: 1;
  transition: 0.3s;
  animation: img linear 6s infinite backwards;
}
@keyframes img {
  0%{top: 0}
  25%{top: 10px;}
  75%{top: -10px}
  100%{top: 0}
}
.default_bg h3{
  gap: 10px;
  display: flex;
  transition: 0.5s;
  max-width: 400px;
  font-weight: 700;
  font-size: 1.25em;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--translucent);
}
.default_bg h3 p{
  font-weight: 600;
  font-size: 0.8em;
}
.title{
  display: flex;
  transition: 0.3s;
  column-gap: 15px;
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px 10px;
  padding-bottom: 0px;
  align-items: center;
  height: fit-content;
  color: var(--success);
}
.title svg{
  width: 32px;
  height: 32px;
}
.quick{
  display: flex;
  padding: 5px 0;
  column-gap: 20px;
  width: fit-content;
  flex-direction: row;
}
.quick a,
.quick button{
  display: flex;
  column-gap: 5px;
  font-weight: 600;
  padding: 7px 15px;
  white-space: nowrap;
  border-radius: 25px;
  color: var(--translucent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282);
}
.help a:hover,
.quick a:hover,
.help button:hover,
.quick button:hover{
  background-color: var(--sweetRed);
}
.help,
.helps{
  gap: 15px;
  display: flex;
  padding: 5px 0;
  width: fit-content;
  flex-direction: row;
}
.helps{
  flex-wrap: wrap;
}
.helps span{
  gap: 10px;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
  padding: 7px 20px;
  align-items: center;
  border-radius: 10px 25px;
  color: rgb( 50, 50, 50);
  background-color: var(--pageNav);
  box-shadow: 0 3px 8px 2px rgb(0, 0, 0 ,0.15);
}
.helps .clicked{
  color: rgb(254, 246, 197);
  border-radius: 25px 25px 10px;
  background-color: var(--natural);
}
.help a,
.help span,
.help button,
#searchbar menu span{
  display: flex;
  cursor: pointer;
  column-gap: 10px;
  font-weight: 600;
  padding: 5px 25px;
  position: relative;
  white-space: nowrap;
  border-radius: 25px;
  color: var(--translucent);
}
.help a,
.help span,
.help button{
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.282), 0 0px 3px rgba(0, 0, 0, 0.282)
}
.help div span,
.help div button{
  box-shadow: none;
  align-items: center;
}
.help div,
#searchbar div{
  gap: 5px;
  opacity: 0;
  z-index: 1;
  display: flex;
  padding: 10px;
  transition: 0.5s;
  position: absolute;
  width: max-content;
  border-radius: 10px;
  pointer-events: none;
  top: calc(50% + 10px);
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28), 0 0 10px var(--mild-dark);
}
.help div{
  padding: 3px;
}
.help .inView div,
#searchbar .inView div{
  opacity: 1;
  pointer-events: all;
  top: calc(100% + 10px);
}
#searchbar{
  width: 100%;
  display: flex;
  font-weight: 600;
  column-gap: 10px;
  max-width: 1200px;
  justify-content: space-between;
}
#searchbar div{
  right: 0;
  z-index: 1;
  min-width: 175px;
  padding-inline: 5px;
  background-color: var(--sweetRed);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
}
#searchbar span{
  top: 7px;
  left: 10px;
  z-index: 1;
  width: 40px;
  position: absolute;
  padding-inline: 5px 10px;
  color: var(--translucent);
  border-right: solid var(--translucent) 2px;
}
#searchbar input{
  flex: 1;
  flex: 0.9;
  width: 100%;
  min-width: 0;
  height: 40px;
  padding: 10px;
  transition: 0.5s;
  font-size: 1.1em;
  max-width: 750px;
  padding-left: 60px;
  border-radius: 20px;
  color: var(--translucent);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.28), 0px 3px 10px rgba(0, 0, 0, 0.2);
}
#searchbar input:focus{
  background-color: var(--sweetRed) !important;
}
#searchbar menu span{
  width: 100%;
  inset: auto;
  border: none;
  display: flex;
  cursor: pointer;
  min-height: 40px;
  border-radius: 12px;
  padding: 8px 20px !important;
}
#searchbar menu div span:hover{
  background-color: rgb(0, 0, 0 ,0.125);
}
#searchbar menu .clicked{
  background-color: var(--mild-dark) !important;
}
#searchbar menu div span{
  border-radius: 25px;
  min-height: fit-content;
  padding: 3px 15px !important;
}
#searchbar menu span svg{
  top: 4px;
  width: 12px;
  right: 10px;
  position: absolute;
}
.details{
  gap: 5px;
  opacity: 0;
  z-index: 2;
  width: 100%;
  border: none;
  display: flex;
  inset-inline: 0;
  padding: 10px 0;
  transition: 0.5s;
  max-width: 700px;
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  top: calc(50% + 10px);
  min-width: fit-content;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28), 0 0 15px var(--mild-dark);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
}
.inView .details{
  top: 100%;
  opacity: 1;
  z-index: 4;
  pointer-events: all;
}
.noti{
  width: 95%;
  display: flex;
  row-gap: 10px;
  max-width: 900px;
  transition: 0.3s;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  flex-direction: column;
  color: var(--translucent);
  border-top-right-radius: 12px;
  background-color: var(--notifications);
}
.noti .details{
  padding: 15px;
  width: fit-content;
  align-items: start;
  top: calc(50% - 10px);
  inset-inline: auto 30px;
  background-color: var(--sweetRed);
}
.noti:hover{
  background-color: var(--noti);
}
.noti svg{
  width: 20px;
  height: 20px;
}
.noti div{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.noti span{
  top: -3px;
  right: -5px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
  background-color: var(--error);
}
.noti a,
.hist a,
.hist .more,
.noti .more,
.hist button,
.noti button{
  width: 30px;
  height: 30px;
  display: flex;
  transition: 0.3s;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.hist a:hover,
.noti a:hover,
.noti .more:hover,
.hist .more:hover,
.noti button:hover,
.hist button:hover{
  background-color: var(--mild-dark);
}
.noti h4{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hist{
  gap: 5px;
  width: 100%;
  display: flex;
  padding: 10px;
  font-weight: 600;
  transition: 0.3s;
  min-height: 47.5px;
  padding-right: 20px;
  color: var(--black);
  align-items: flex-end;
  flex-direction: column;
  border-left: solid transparent 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: solid rgba(255, 255, 255, 0.9) 2px;
}
.hist:last-child{
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.hist div{
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.hist span{
  color: rgb(41, 34, 34);
  background-color: rgb(231, 216, 164, 0.7);
}
.hist:hover{
  border-color: rgba(196, 172, 79, 0.4);
}
.hist_Pack{
  display: flex;
  transition: 0.5s;
  padding-top: 8px;
  max-width: 1000px;
  border-radius: 13px;
  align-items: center;
  flex-direction: column;
  background-color:var(--primary);
  box-shadow: 0 1px 5px var(--mild-dark)
}
.hist_Pack:hover{
  box-shadow: 0 5px 10px var(--mild-dark)
}
@media screen and (min-width: 875px){
 .quick a.third{
    display: none;
  }
}
@media screen and (min-width: 1000px){
 .quick a.third{
    display: flex;
  }
}
@media screen and (max-width: 1300px){
 .quick .fourth{
    display: none;
  }
}
@media screen and (max-width: 1050px){
  .default_bg{
    align-self: center;
  }
}
@media screen and (max-width: 690px) {
 .quick .third{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #main{
    max-width: none;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 425px) {
  .title p{
    display: none;
  }
  .quick .second{
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .default_bg h2{
    font-size: 18px;
  }
  .default_bg p{
    font-size: 14px;
  }
  .default_bg div{
    padding: 0;
    min-width: 140px;
  }
}