.helps{
  width: 100%;
  max-width: 900px;
  flex-wrap: nowrap;
}
.level{
  flex: 1;
  width: 100%;
  display: flex;
  padding: 6px 5px;
  transition: 0.5s;
  background-color: var(--input);
  border-radius: 5px 25px 25px 5px;
  box-shadow: 0 3px 8px 2px rgb(0, 0, 0 ,0.15);
}
.level p{
  width: 50px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 3px 5px rgb(0, 0, 0 ,0.15);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15), rgba(255, 239, 239, 0.9));
}